<figure id=cp-{{attrs.id}}
  class="image {{classes}} {{#if javascript}}loading{{/if}}">

  <div class=frame>

    {{#if javascript}}
      <!-- this comment will be replaced with size info -->
    {{/if}}

    <div class=crop>

      {{#if javascript}}
        <img class=thumb src="{{thumbUrl}}" draggable=false> 
        <img class=full draggable=false> 
      {{else}}
        <img src="{{sourceUrl}}" draggable=false> 
      {{/if}}

    </div>

  </div>

  {{{children}}}

</figure>
