<figure id=cp-{{attrs.id}} 
  class="video {{classes}} {{#if javascript}}loading{{/if}}">

  <div class=frame>

    {{#if javascript}}
      <!-- this comment will be replaced with size info -->
    {{/if}}

    <div class=crop>

      <video src="{{sourceUrl}}"

        {{#if javascript}}
          preload=none
        {{else}}
          controls preload=auto
        {{/if}}

        {{#if attrs.loop }}loop{{/if}}>
      </video>

      {{#if javascript}}
        <img class=thumb src="{{thumbUrl}}" draggable=false> 
        <img class=poster draggable=false> 
      {{/if}}

    </div>

  </div>

  {{{children}}}

</figure>
